DoubleML

# test
pytest
rpy2

# doc
sphinx==7.3.7
sphinx-copybutton
nbsphinx==0.9.3
ipykernel
sphinx-gallery
sphinx-panels
sphinx-design
jupyter-sphinx
pydata-sphinx-theme==0.15.3
matplotlib
plotly
seaborn
xgboost
lightgbm
flaml
rdrobust
